@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
  background:rgb(30, 31, 30);
  width:700px;
  border-style: double;
  margin:auto;
  color: white;
  padding: 10px;
  font-family: 'EB Garamond', serif;
}

header {
  padding: 10px;
  text-align: center;
}

main {
  padding: 10px;
}

footer {
  padding: 10px;
}

a {
  color: white;
  font-style: italic;
}

img {
  width: 250px;
}